body {
    background-image: url(../Weather-Image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.location-input {
    display: flex;
    margin-bottom: 20px;
}

.city-input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4c91af;
    color: white;
    border: none;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

button:hover {
    background-color: #3a7a9a;
    transform: scale(1.05);
}

.nav-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.weather-info {
    text-align: center;
    margin-top: 20px;
}

.city-name {
    font-size: 24px;
    margin-bottom: 20px;
}

.current-weather, .forecast {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.weather-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.weather-item i {
    font-size: 36px;
    margin-bottom: 10px;
}

.weather-item p {
    font-size: 18px;
    margin: 5px 0;
}

.weather-icon {
    font-size: 48px;
}

.weather-icon.sun {
    color: #ffd600;
}

.weather-icon.moon {
    color: #7986cb;
}

.weather-icon.cloud {
    color: #90a4ae;
}

.weather-icon.rain {
    color: #4fc3f7;
}

.weather-icon.snow {
    color: #b3e5fc;
}

.weather-icon.storm {
    color: #ffd600;
}

.wind-icon {
    color: #4db6e1; /* Wind icon color */
}

.humidity-icon {
    color: #81c784; /* Humidity icon color */
}

.forecast-day {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .container {
        margin: 20px;
    }
    
    .nav-buttons {
        flex-direction: column;
        align-items: center;
    }
    
    .nav-buttons button {
        margin-bottom: 10px;
        width: 80%;
    }
}

@media screen and (max-width: 400px) {
    html {
        font-size: 70%;
    }
    
    .location-input {
        flex-direction: column;
    }
    
    .city-input, .get-weather-btn {
        /* width: 100%; */
        margin-bottom: 10px;
    }
    
    .get-weather-btn {
        border-radius: 5px;
    }
}